html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "JetBrains Mono", monospace, sans-serif;
  background-color: #201e27;
  color: white;
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 24px;
  box-sizing: border-box;
}

body.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  align-items: center;
  background-color: #201e27;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: row;
}

header nav {
  display: flex;
}

.headernav {
  text-decoration: none;
  color: rgb(155, 154, 154);
  font-weight: bold;
}

.headertitle {
  text-decoration: none;
  color: white;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

header li {
  padding: 10px;
  margin: 10px;
}

header li:hover {
  color: white;
  background-color: #3d394a;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
}

header h2 {
  margin-right: 60px;
}

.blue {
  color: #3700ff;
}

header svg {
  padding: 10px;
  width: 20px;
  height: 20px;
  margin-left: auto;
}

header svg:hover {
  background-color: #3d394a;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.settings {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: #201c1c;
  padding: 20px;
  border-radius: 0.5rem;
  scale: 0.5;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.settings h3 {
  margin: 0;
}

.settings p {
  color: gray;
}

.settings svg {
  width: auto;
  height: 25px;
}

.title-container {
  display: flex;
  gap: 8px;
}

.settings.active {
  transform: all 0.1s ease-in-out;
  scale: 1;
  opacity: 1;
}

.full-page.active {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.427);
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.full-page {
  z-index: -1;
  opacity: 0;
}

.theme {
  margin-top: 30px;
}

.theme p {
  color: white;
}

.sec1 {
  border: solid blue;
  border-radius: 30px;
  margin-top: 20px;
  display: flex;
  max-height: 720px;
  width: 100%;
}

.left {
  flex: 1;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 60px;
}
.ppp {
  font-size: 25px;
}

.left h2 {
  font-size: 2.4rem;
}
.pp {
  margin-top: 30px;
}

.text {
  padding: 40px;
  border-radius: 30px;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

img {
  object-fit: cover;
  width: 393.75px;
  height: 650px;
  border-radius: 30px;
  filter: brightness(0.6);
}

.sec2 {
  margin-top: 70px;
}

.sec2 h2 {
  font-size: 40px;
}

.sec2 svg {
  width: auto;
  height: 20px;
}

.sec2 p {
  margin: 0;
}

.button-container {
    display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-weight: bold;
}

.gitview {
  display: flex;
  background-color: #3c82f6;
  padding: 10px;
  gap: 10px;
  border-radius: 0.5rem;
  transition: 0.2s ease-in-out;
}

.gitview:hover {
  background-color: #0462f8;
  cursor: pointer;
}

.sec3 {
  margin-top: 70px;
}

.sec3 h2 {
  font-size: 40px;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-weight: bold;
}

.tech svg {
  width: auto;
  height: 20px;
}

.js,
.html,
.css,
.git,
.github,
.swift,
.xcode,
.clion {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #1d1c24;
  border-radius: 10px;
  border: 1px solid #444053;
  color: gray;
}

.js p,
.github p,
.git p,
.css p,
.html p,
.swift p,
.xcode p,
.clion p {
  margin: 0;
}

.js:hover,
.css:hover,
.html:hover,
.git:hover,
.github:hover,
.swift:hover,
.xcode:hover,
.clion:hover {
  border-color: #4f4a60;
  background-color: #2b2933;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.sec4 {
  margin-top: 70px;
}

.sec4 h2 {
  font-size: 40px;
}

.code {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-weight: bold;
}

.code svg {
  width: auto;
  height: 20px;
}

.sec5 {
  margin-top: 70px;
  margin-bottom: 55px;
}

.sec5 h2 {
  font-size: 40px;
}

input {
  font-family: "JetBrains Mono", monospace, sans-serif;
  font-size: 15px;
  padding: 7px;
}

textarea {
  font-family: "JetBrains Mono", monospace, sans-serif;
  font-size: 15px;
  padding: 7px;
}

form {
  display: grid;
  grid-template-areas:
    "namel emaill"
    "name email"
    "msgl msgl"
    "msg msg"
    "send send";
  gap: 16px;
  background-color: #151517;
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: 1px solid #272727;
}

form label {
  gap: 8px;
}

form input {
  border-radius: 0.5rem;
  color: white;
  background-color: #151517;
  border: 1px solid #272727;
}

form textarea {
  border-radius: 0.5rem;
  color: white;
  background-color: #151517;
  border: 1px solid #272727;
}

form label span {
  vertical-align: super;
}

#namel {
  grid-area: namel;
}

#name {
  grid-area: name;
}

#emaill {
  grid-area: emaill;
}

#email {
  grid-area: email;
}

#msgl {
  grid-area: msgl;
}

#msg {
  grid-area: msg;
  height: 90px;
}

#send {
  grid-area: send;
  background-color: rgb(34, 34, 34);
  color: rgb(118, 114, 114);
  transition: 0.2s ease-in-out;
}

#send.enable:hover {
  background-color: rgb(46, 46, 46);
  color: white;
  cursor: pointer;
}

#email,
#name {
  height: 30px;
}

.social svg {
  width: auto;
  height: 20px;
}

.social {
    display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-weight: bold;
}

#socialp {
  margin-top: 30px;
}

.social p {
  margin: 0;
}

.twitter,
.insta {
  display: flex;
  background-color: #151517;
  padding: 10px;
  gap: 10px;
  border-radius: 0.5rem;
  border: 1px solid #272727;
  transition: background-color 0.2s ease-in-out;
}

.twitter:hover,
.insta:hover {
  background-color: #202023;
  cursor: pointer;
}

footer {
  display: flex;
  margin: 0 auto;
  width: 80%;
  border-top: 2px solid #272727
}

.copy {
  color:#78787b;
}

footer a {
  margin-left: auto;
  margin-top:15px;
  margin-bottom: 15px;
  color:#78787b;
}