body {
  font-family: "JetBrains Mono", monospace, sans-serif;
  background-color: #201e27;
  color: white;
  max-width: 1100px;
  margin: 40px auto;
  padding: 0 24px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

header {
  display: flex;
  align-items: center;
  background-color: #201e27;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: row;
}

header nav {
  display: flex;
}

.headernav {
  text-decoration: none;
  color: rgb(155, 154, 154);
  font-weight: bold;
}

.headertitle {
  text-decoration: none;
  color: white;
}

header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-direction: row;
}

header li {
  padding: 10px;
  margin: 10px;
}

header li:hover {
  color: white;
  background-color: #3d394a;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  cursor: pointer;
}

header h2 {
  margin-right: 60px;
}

.blue {
  color: #3700ff;
}

header svg {
  padding: 10px;
  width: 20px;
  height: 20px;
  margin-left: auto;
}

header svg:hover {
  background-color: #3d394a;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.sec1 {
  margin-top: 20px;
  display: flex;
  max-height: 720px;
  width: 100%;
}

.left {
  flex: 1;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: 60px;
}
.ppp {
  font-size: 25px;
}

.left h2 {
  font-size: 2.4rem;
}
.pp {
  margin-top: 30px;
}

.text {
  border: solid;
  border-color: #3700ff;
  padding: 40px;
  border-radius: 30px;
}

.img-container {
  display: flex;
  justify-content: flex-end;
}

img {
  object-fit: cover;
  width: 393.75px;
  height: 650px;
  border-radius: 30px;
}

.sec2 {
  margin-top: 40px;
}

.sec2 h2 {
  font-size: 40px;
}

.sec3 {
  margin-top: 40px;
}

.sec3 h2 {
  font-size: 40px;
}

.tech {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-weight: bold;
}

.tech svg {
  width: auto;
  height: 20px;
}

.js,
.html,
.css,
.git,
.github {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #1d1c24;
  border-radius: 10px;
  border: solid;
  border-color: #26242f;
  color: gray;
}

.js p,
.github p,
.git p,
.css p,
.html p {
  margin: 0;
}

.js:hover,
.css:hover,
.html:hover,
.git:hover,
.github:hover{
    background-color: #2b2933;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.sec4{
  margin-top: 40px;
}

.sec4 h2{
  font-size: 40px;
}

.code {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  font-weight: bold;
}

.code svg {
  width: auto;
  height: 20px;
}